* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: #CE663D;
}

.nav-item {
  font-size: 25px;
}

.title1 {
  font-size: 40px;
  color: #2055A6;
}

.text1 {
  font-size: 20px;
  line-height: 2;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.content {
  padding: 50px;
}

.image {
  padding: 50px;
}

.get,
.search {
  color: #2055A6;
}

.players {
  width: 80%;
  margin: auto;
}

.player_head {
  padding-top: 25px;
  display: flex;
  color: #2055A6;
  margin-bottom: 10px;
}

.player_info {
  display: flex;
  margin: 10px;
  padding: 10px;
  color: #CE663D;
  border: 2px solid #2055A6;
}

.player,
.height,
.position,
.gp,
.min,
.pts,
.ast,
.reb {
  margin: auto;
  width: 700px;
  text-align: center;
}

.applybutton {
  margin-left: 13.75%;
  background-color: #CE663D;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
}

.wilson {
  width: 200px;
}

.header6 {
  width: 100%;
  margin-top: 150px;
  text-align: center;
  height: 150px;
  padding-top: 50px;
}

.apply {
  width: 100%;
  background-color: #0000FF;
  text-align: center;
}

.title2 {
  color: white;
  padding: 100px;
  font-size: 40px;
}

form {
  padding-top: 50px;
  text-align: center;
}

h2 {
  margin: auto;
  padding-top: 50px;
  width: 600px;
  text-align: center;
}
h3 {
  margin: auto;
  width: 600px;
  text-align: center;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.game_info {
  width: 350px;
  margin: 10px;
  text-align: center;
  border: 2px solid #2055A6;
  color: #CE663D;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.team {
  text-align: center;
  width: 150px;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.score {
  text-align: center;
  width: 150px;
}

.applybutton2 {
  margin-left: 42.5%;
  width: 175px;
  background-color: #0000FF;
  border: none;
  color: white;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
}

.funded {
  width: 100%;
  background-color: white;
  text-align: center;
}

.title3 {
  color: black;
  padding: 100px;
  font-size: 40px;
}

.companies {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  flex-wrap: wrap;
  margin-left: 13%;
}

.company {
  padding: 25px;
  margin: 25px;
  border: 1px solid gray;
}

.board {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  flex-wrap: wrap;
  margin-left: 13%;
}

.person {
  padding: 25px;
  margin: 25px;
}

.applybutton:hover,
.applybutton2:hover {
  cursor: pointer;
}

.activities {
  padding-left: 50px;
}

.comp_link:hover {
  cursor: pointer;
}

/* Mobile Styles */
@media only screen and (max-width: 750px) {
  form {
    width: 300px;
    margin: auto;
  }
  .player_info {
    display: block;
  }
  .player,
  .height,
  .position,
  .gp,
  .min,
  .pts,
  .ast,
  .reb {
    width: 50%;
    margin: auto;
  }
  .player_head {
    width: 75%;
    margin: auto;
    flex-direction: column;
  }
  .player_header {
    width: 100%;
  }
  .get,
  .search {
    width: 350px;
    margin: auto;
  }
  .logo {
    width: 200px;
  }
  .intro {
    flex-direction: column;
    width: 95%;
  }
  .content {
    width: 100%;
    padding: 0;
  }
  .applybutton {
    margin: 0;
  }
  .buttonfix {
    display: flex;
    justify-content: space-around;
  }
  .title1 {
    display: block;
    width: 100% !important;
    text-align: center;
  }
  .text1 {
    text-align: center;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 751px) {
}
