* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.web_title {
  margin: auto;
  padding: 15px 0;
  color: #ffc107;
}
form {
  margin: 15px auto;
  text-align: center;
  color: #ffc107;
}
#weatherSubmit {
  margin-top: 10px;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  color: #ffc107;
  border: 3px solid #ffc107;
  background: #007bff;
}
#weatherSubmit:hover {
  background: #ffc107;
  cursor: pointer;
  border: 3px solid #007bff;
  color: #007bff;
}
#weatherResults,
#forecastResults {
  text-align: center;
  padding: 15px 0;
}
a:link {
  text-decoration: underline;
}
a, a:visited {
  color: #ffc107;
}
a:hover, a:hover:visited {
  color: red;
}
.header6 {
  width: 100%;
  text-align: center;
  height: 150px;
  padding-top: 50px;
  color: #ffc107;
}
.today {
  width: 370px;
  margin: auto;
  padding: 10px;
}

.today,
.fore {
  color: #007bff;
}
.fore {
  margin-top: -30px;
}
.title,
.fut_title {
  color: #ffc107;
}

.today_info {
  display: flex;
  flex-direction: column;
}

.today_stuff {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}


.today_temp,
.today_min,
.today_desc,
.today_winds,
.fut_desc,
.fut_temp,
.fut_winds {
  color: #007bff;
}

.fut_info {
  width: 300px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .fut_info {
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid #007bff;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .future_full {
    width: 401px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
  .fut_info {
    border: 2px solid #007bff;
    margin: 10px;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .future_full {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
  .fut_info {
    border: 2px solid #007bff;
    margin: 10px;
  }
}

.activities {
  padding-left: 50px;
}
